.gambar-jumbro{
	background-size: cover;
	background: url(../gambar/bgjumbroton2.png);
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;

}

.navbar-brand{
	font-size: 30px;
	font-weight: bold;
}

.warna-putih{
	background-color: white;
}

.warna-bg{
	background: rgb(7,99,235);
	background: linear-gradient(90deg, rgba(7,99,235,1) 24%, rgba(0,212,255,1) 69%);
}

.bulet{
	border-radius: 50px;
	background-color: green;
	color: white;
}

.bulet:hover{
	border-radius: 50px;
	background-color: white;
	color: green;
}


.tombolLogin{
	background-color: green;
	color: white;
}

.tombolLogin:hover{
	background-color: white;
	color: green;
}

.formLogin{
	min-height: 473px;
}

.klik:hover{
	background-color: lightblue;
	color: white;
}

.arah{
	flex-direction: column;
}

.circle{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.merah{
	background-color: red;
}

.kuning{
	background-color: yellow;
}

.hijau{
	background-color: green;
}

.samping{
	display: flex;
	flex-direction: row;
}

.desk p{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.desk p span{
	color: purple;
}

.menengah{
	margin: 0 auto;
	width: 70%;
}

